{% extends 'base.html'%}

{% block title%}|Adopción{%endblock%}

{% block content %}
    <h1 class="text-center pt-4 mb-5">Peludos en Adopción</h1>

    
        <div class="row justify-content-center">
            {% for pet in pets_adoption %}
            <div class="col-sm-12 col-md-5 col-lg-3 m-2">
                <div class="card m-auto" style="width: 18rem; ">
                    <img src="/media/{{pet.imagen_destacada}}" class="card-img-top rounded" alt="{{pet.nombre}}">
                    <div class="card-body text-center">
                    <h5 class="card-title">{{pet.nombre|title}}</h5>
                    <a href="{{pet.id}}" class="btn btn-info">Conoce mi historia</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    





{% endblock %}


