{% extends 'base.html'%}


{% block content %}
<h1 class="text-center m-5 pt-5">Voluntariado</h1>
<img class="img-fluid mb-4" src="https://cflvdg.avoz.es/default/2020/01/27/00121580129357209836688/Foto/perros.jpg" alt="voluntario">
<p>Si usted es un amante de los animales y quiere brindar su apoyo para la protección de los animales de Calama, puede hacer parte  del voluntariado social por la protección y bienestar animal.</p>
<p>Este proyecto busca que los ciudadanos aporten con diferentes acciones la labor de la fundación.</p>
<p>Los voluntarios pueden acompañar labores de enseñanza y sensibilización con niños, jóvenes o familias; apoyar las campañas de adopción;  brindar un hogar de paso a animales decomisados o víctimas de maltrato o ser parte de las brigadas de salud animal.</p>
<p>Si quiere ser voluntario puede dar clic en el botón "Inscríbete como voluntario" y llenar el formulario. Luego de llenar los datos estos serán validados y una persona de la fundación lo contactará.</p>
<a class="btn btn-warning btn-lg" href="{% url 'voluntario:solicitud_voluntariado' %}">Inscríbete Como Voluntario</a>

{% endblock %}