{% extends 'base.html'%}


{% block content %}
<h1 class="text-center m-5 pt-5">Voluntariado</h1>
<img class="img-fluid mb-4" src="https://cflvdg.avoz.es/default/2020/01/27/00121580129357209836688/Foto/perros.jpg" alt="voluntario">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at magni explicabo consequatur illo nam, quaerat molestiae commodi excepturi. Neque hic totam cum, quia provident reprehenderit qui corporis officia blanditiis!</p>

<a class="btn btn-warning btn-lg" href="">Inscríbete Como Voluntario</a>

{% endblock %}