/*page inicio*/
.carousel-item img{
    height: 400px;
    object-fit: cover;
}



/*cards list adoption*/
.card img{
    height: 200px;
    object-fit: cover;
    
}
#home-card-img {
    border: none;
}
#home-card-img img{
    width: 50% !important;
    height: auto;
  
}


.card-img-detail {
    width: 400px;
    border-radius: 10px;

}



.boton-lista {
    display: flex !important;
    justify-content: center;
}


.footer {
    height: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #31A2B8;
    color: white;

}

.footer .footer-link {
    
    color: white;
}

.social-icon {
    width: 50px;
}

.contenedor {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
}


.contenedor-formulario{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-imagen-contacto{
    display: flex !important;
    justify-content: center;
    max-width: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    
}

.caja-feliz{
    border: 1px solid red;
}


.imagen-formulario-adopcion{
    max-width: 40%;
    justify-content: center;
}