/*page inicio*/
.carousel-item img{
    height: 400px;
    object-fit: cover;
}



/*cards list adoption*/
.card img{
    height: 200px;
    object-fit: cover;
    
}

.card-img-detail {
    width: 400px;
    border-radius: 10px;

}


.footer {
    height: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #31A2B8;
    color: white;

}

.footer .footer-link {
    
    color: white;
}

.social-icon {
    width: 50px;
}