{% extends 'base.html' %}

{% block content %}

<div class="card text-center mt-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" id='perfil-tab' data-toggle="tab" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">Información Básica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id='actividades-tab' data-toggle="tab" href="#actividades" role="tab" aria-controls="actividades" aria-selected="false">Voluntariado</a>
        </li>
      </ul>
    </div>
    <div class="card-body tab-content" id='myTabContent'>
        <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
            <h5 class="card-title">{{perfil.user.get_full_name|title}}</h5>
            <img src="/media/{{perfil.avatar}}" alt="Foto Perfil"class='m-3'>
            <div class="contenedo text-left p-2">
              <p class="card-text">Rut: {{perfil.rut}}</p>
                <p class="card-text">Email: {{perfil.user.email}}</p>
                <p class="card-text">Fecha de nacimiento: {{perfil.fecha_nacimiento}}</p>
                <p class="card-text">Dirección: {{perfil.direccion}}</p>
                {% if perfil.telefono_fijo %}
                    <p class="card-text">Telefono Fijo: {{perfil.telefono_fijo}}</p>
                {% endif %}
                {% if perfil.telefono_movil %}
                    <p class="card-text">Telefono Movil: {{perfil.telefono_movil}}</p>
                {% endif %}
                <p>Tipo de Perfil: {{perfil.tipo_perfil}}</p>
                <span class="card-text">Fecha de Registro: {{perfil.user.date_joined}}</span> <br>
            </div>
           
            <a href="#" class="btn btn-primary mt-4">Editar Perfil</a>
        </div>
        <div class="tab-pane fade" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
            <h5 class="card-title">Actividades con las que puedo ayudar como voluntario: </h5>
            <p>actividades pertenecientes a {{actividades.perfil}}</p>
            {% if casa_temporal_list %}
              <h5>Hogar Temporal:</h5>
              {% for i in casa_temporal_list %}
                <p>{{i}}</p>
              {% endfor %}
            {% endif %}  
            {% if donaciones_list %}
              <h5>Donaciones: </h5>
              {% for i in donaciones_list %}
                <p>{{i}}</p>
              {% endfor %}
            {% endif %} 
            {% if eventos_list %}
              <h5>Eventos:</h5>
              {% for i in eventos_list %}
                <p>{{i}}</p>
              {% endfor %}
            {% endif %} 
            {% if actividades.rescates %}
              <p>Rescates: {{actividades.rescates|yesno:'Si,No'}}</p>
            {% endif %} 
            {% if actividades.vehiculo %}
              <p>Vehiculo: {{actividades.vehiculo|yesno:'Si,No'}}</p>
            {% endif %} 
            {% if actividades.capacitacion %}
              <p>Capacitacion: {{actividades.capacitacion|yesno:'Si,No'}}</p>
            {% endif %} 
            {% if actividades.cuidados_veterinarios %}
              <p>Cuidados: {{actividades.cuidados_veterinarios|yesno:'Si,No'}}</p>
            {% endif %} 
            {% if actividades.representacion_medios %}
              <p>Representación Medios: {{actividades.representacion_medios|yesno:'Si,No'}}</p>
            {% endif %}
            {% if actividades.legal %}
              <p>Trámites Legales: {{actividades.legal|yesno:'Si,No'}}</p>
            {% endif %}
            {% if actividades.experiencia %}
              <p>Experiencia: {{actividades.experiencia}}</p>
            {% endif %}
            {% if actividades.extra %}
              <p>Otros: {{actividades.extra}}</p>
            {% endif %}
            <a href="#" class="btn btn-primary">Editar Actividades</a>

          
            
        </div>
      
    </div>
  </div>
{% endblock %}